.distance {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.distance .one-d {
    padding: 10px;
}

.distance .one-d .input,
.distance .one-d .output {
    margin: 10px;
}

.distance .one-d input,
.distance .one-d label,
.distance .one-d button {
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    background: none;
    border: thin solid teal;
}

.distance .one-d button {
    border: medium solid pink;
}

.distance .one-d label {
    border: none;
}
